<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Proxify</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="hea">
      <a class="active">Proxify</a>
      <a href="/leader" class="leader">Leaderboards</a>
    </div>
  </body>
</html>
