{% extends 'home/homeheader.html' %}

{% load static %}
{% block head2 %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/register.css' %}">
{% endblock %}


{% block body2 %}
    <div class='container'>
      <section class="features" id="register-sec">
        <h1 style="text-align: center">Register with the GenMed-Project</h1>
        <hr>
        <form id="regForm" action={% url 'home:register' %} method="POST">
            {% csrf_token %}
              <p><input placeholder="Username..."  name="username"></p>
              <p><input type="email" placeholder="E-mail..."  name="email"></p>
              <p><input type="password" placeholder="Password..."  name="password" id='password'></p>
              <p><input type="password" placeholder="Confirm Password..."  name="cnf_password" id='cnf_password'></p>
              <p><span id="#err">{{ err }}</span></p>
              <p id='bt'><input type="submit" value='Register' name='register' id='subBtn'></p>
          </form>
    </section>
    </div>
{% endblock %}