
#search-result h1 {
	color: #333; 
	font-family: 'Fira Sans', sans-serif;
	text-align: center;
	font-size: 2.2rem;
}

#search-result h4 {
	color: #333; 
	font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

table {
    width: 80%;
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    border : none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(110,110,110,0.3);
    margin-bottom: 30px;
}

.col-lg-10 {
    margin-left: 8.33%;
}

.col1 {
    width: 40%;
}

.col2 {
    width: 60%;
}

tr th {
    background: #333;
    color: white;
    padding: 10px 10px;
}

tr td {
    padding: 5px 10px;
}

tr {
    background: #e0e0eb
}

tr:nth-child(even){
    background: #ffffff;
}

#subBtn , #addBtn, #cancelBtn{
    background: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 50px;
  }

#addrow, #add {
    visibility: collapse;
}

#addBtn {
    visibility: visible;
    margin-left: 10%;
}

#subBtn {
    visibility: hidden;
    margin-left: 10%;
}

#cancelBtn {
    visibility: hidden;
    margin-left: 30px;
}