*{
	margin: 0;
	padding: 0;
     background-color: #5fa8cf;
}

.card{
	position: relative;
	top: 100px;
    width: 400px;  
}
.card-body{
	 box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	 background-color: white;
}
#btn{
	border-radius: 20px;
}
h6,h5{
	background-color: white;
}
textarea{
	
	border: 1px solid #333;
    border-radius:10px; 
    background-color: white;
}
textarea:focus{
	outline: 0;
}
#result{
	color: darkslategray;
	text-decoration: underline;
}
h2{
	text-shadow: 2px 2px lightgray;
	font-weight: 800;
	 background-color: white;
}