[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
Django = "*"
mysqlclient = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
social-auth-app-django = "*"
django-sslserver = "*"
instamojo-wrapper = "*"
requests = "*"

[requires]
python_version = "3.7"
