/* Section-styling */
.features {
    color: #676a6c;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

#login-box {
    visibility: visible;
    margin: auto;
    animation-name: zoomIn;
    padding: 20px;
}

#login-box .fields h1{
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translateX(-25%);
}

.login-input {
    border: 1px solid #676a6c;
    border-radius: 50px;
    width:100%;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
}

.login-button{
    border: 0;
    border-radius: 50px;
    width: auto;
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    color:white;
    background-image: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
}
/* End-Section */