#homeBtn {
    background: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 50px;
    margin: 50px 0;
}

#msg {
    text-align:center;
}