

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'images/favicon.ico' %}"/> 
   
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script> 
    <title>Doctor Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
   
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
</head>
<body>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<a href="{% url 'myapp:doctor_login' %}" class="float-right btn btn-outline-primary mt-1">Log in</a>
	<h4 class="card-title mt-2">Sign up</h4>
</header>
<article class="card-body">
<form method="post" action="" enctype="multipart/form-data" id="form">
	
    {% csrf_token %}
    
    <div class="form-group">
		<label class="control-label" >{{ form0.label_tag }}</label>

		<div>{{ form0 }}</div>
		<span class="text-danger small">{{ form0.errors }}</span>
		{% comment %} <input type="text"  name="username" placeholder=""> {% endcomment %}
	</div> <!-- form-group end.// -->

<div class="form-row">
		<div class="col form-group">
		<label class="control-label" >{{ form1.label_tag }}</label>  
		<div >{{ form1 }}</div>
		<span class="text-danger small">{{ form1.errors }}</span>

		  	{% comment %} <input type="text"  name"first_name" placeholder=""> {% endcomment %}
		</div> <!-- form-group end.// -->
		
        <div class="col form-group">
		<label class="control-label" >{{ form2.label_tag }}</label>
		<div >{{ form2 }}</div>
		<span class="text-danger small">{{ form2.errors }}</span>

		  	{% comment %} <input type="text"  name"last_name" placeholder=" "> {% endcomment %}
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->

	<div class="form-group">
		<label class="control-label" >{{ form3.label_tag }}</label>
		<div >{{ form3 }}</div>
		<span class="text-danger small">{{ form3.errors }}</span>

		{% comment %} <input type="email"  name="email"placeholder=""> {% endcomment %}
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div> <!-- form-group end.// -->



<div class="form-group">
		<label class="control-label" >{{ form4.label_tag }}</label>
		<div >{{ form4 }}</div>
		<span class="text-danger small">{{ form4.errors }}</span>

	    {% comment %} <input  name="password1"type="password"> {% endcomment %}
	</div> <!-- form-group end.// -->  
    
<div class="form-group">
		<label class="control-label" >{{ form5.label_tag }}</label>
		<div >{{ form5 }}</div>
		<span class="text-danger small">{{ form5.errors }}</span>

	    {% comment %} <input  name="password1"type="password"> {% endcomment %}
	</div> <!-- form-group end.// -->  
    <div class="form-group">
		<label class="control-label" >{{ form6.label_tag }}</label>
		<div >{{ form6 }}</div>
		<span class="text-danger small">{{ form6.errors }}</span>
	</div>
	      <div class="form-group">
		<label class="control-label" >{{ form7.label_tag }}</label>
		<div >{{ form7 }}</div>
		<span class="text-danger small">{{ form7.errors }}</span>
	</div>
	      <div class="form-group">
		<label class="control-label" >{{ form8.label_tag }}</label>
		<div >{{ form8 }}</div>
		<span class="text-danger small">{{ form8.errors }}</span>
	</div>
	      <div class="form-group">
		<label class="control-label" >{{ form9.label_tag }}</label>
		<div >{{ form9 }}</div>
		<span class="text-danger small">{{ form9.errors }}</span>
	</div>
	  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="submit"> Register</button>
    </div> <!-- form-group// -->      
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>     

	    {% comment %} <input  name="password1"type="password"> {% endcomment %}
	</div> <!-- form-group end.// -->  

                                         
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a href="{%url 'myapp:doctor_login'%}">Log In</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

</body>
</html>
