#addmed-sec {
    padding-top: 50px;
}

hr {
    height: 1px;
    background: #333; 
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}

.sec-head {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

#addmed-sec > form {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
}

label {
    background: linear-gradient( 90deg, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    width: 20%;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 8px 10px;
    margin-right: 0;
    border: 1.5px solid #0c2646;
    border-right: 0;
}

input[type=text] , input[type=date]{
    border: 1.5px solid #0c2646;
    padding: 8px 10px;
    width: 75%;
    margin-left: 0;
    border-left: 1.5px solid #0c2646;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

input[type=submit] {
    background: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 50px;
    margin: 10px 20px;
    font-weight: bold;
}

#upBtn {
    background: linear-gradient( 135deg, #0c2646 0%, #204065 60%, #2a5788 100%);
    color: white;
    font-family: 'Fira Sans', sans-serif;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
    border: 1px solid #aaaaaa;
    border-radius: 50px;
    margin: 10px 20px;
}

#bPara {
    margin-top: 50px;
    text-align:center;
}