#map {

}
/* 
#shop-sec {
    width: 100%;
    padding-top: 100px;
}

#list {
    list-style-type: none;
    width:100%;
    padding-bottom: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}

.cards {
    height: 100px;
    width: 80%;
    margin-left: 10%;
    background: linear-gradient( 135deg, #cef19e 0%, #a7dda7 100%); 
    margin-bottom: 30px;
    padding: 20px 30px;
}

#head {
    background: #333;
    color: white;
    font-family: 'Righteous', cursive;
    padding-top: 30px;
    padding-left: 60px;
}

.rowhead {
    width: 30%;
    margin-right: 15%;
    margin-left: 10%;
}

.cards:nth-child(even){
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.cards:nth-child(odd){
    border-bottom-right-radius: 60px;
    border-top-left-radius: 60px;
}

.count, .loca{
    border-radius:30px;
    margin: 0;
    color: white;
    width: 60px;
    height: 60px;
    display: block;
    padding: 8px;
    font-size: 30px;
    background: #204065;
    text-align: center;
}

.count {
    float: left;
    margin-right: 30px;
}

.loca {
    float: right;
    margin-left: 30px;
    padding-top: 5px;
}

.loca > a > i {
    color: white;
    font-size: 20px;
}

.col1 {
    padding-top: 5px;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    display: block;
    float: left;
    width: 30%;
    margin-left:10%;
}

.col2 {
    width: 30%;
    margin-right: 5%;
}

.col2 {
    display: block;
    float: left;
    background: #204065;
    float: left;
    border-radius: 30px;
    height:60px;
    font-size: 25px;
    color: white;
    padding: 12px 8px;
    text-align: center;
} */