{% extends '../base.html' %}
{% load train %}

{% block title %} Ticket Booking {% endblock %}
{% block navbar-book-ticket %}class="active"{% endblock %}

{% block banner %} main-banner inner {% endblock %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Book Ticket</li>
</ol>

<!-- train between stations form -->
<div class="section text-center py-5">
    <div class="container-fluid">
        <div style="margin-top:30px;" class="mainbox ">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form id="train-search-form" class="form-horizontal" action="" method="post">
                        <div class="form-group">
                            <div class="container">
                                {% csrf_token %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="message">
                                    <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$('.alert').remove()">&times;</button>
                                        {{message}}
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Journey Date:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="date" class="form-control" name="date" placeholder="Enter Journey Date" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Source Station:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" name="source" placeholder="Enter Source Station Name" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Destination Station:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" name="destination" placeholder="Enter Destination Station Name" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Flexible with Date:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <select class="form-control" name="flexible" required="">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-md-4 col-sm-4 col-xs-4 controls">
                                        <button type="submit" id="btn-train-search" class="btn active">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-info">
                <div style="padding-top:20px" class="panel-body">
                    <div class="container">
                        {% if is_t1 %}
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Train Number</th>
                                            <th>Train Name</th>
                                            <th>Departure Time</th>
                                            <th>Arrival Time</th>
                                            <th>Travel Time</th>
                                            <th>Days of Run</th>
                                            <th>Availability & Fare</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for train, time, availability in t1 %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ train.train_no }}</td>
                                            <td>{{ train.train_name }}</td>
                                            <td>{{ time.source.0 }}</td>
                                            <td>{{ time.destination.0 }}</td>
                                            <td>{{ time|get_travel_time }}</td>
                                            <td>{{ train.run_days }}</td>
                                            <td><a id="get-{{ train.train_no }}" class="btn btn-sm active">Get</a></td>
                                        </tr>
                                        
                                        <tr id="{{train.train_no}}">
                                            <td colspan="9">
                                                <div class = "row">
                                                    <div class = "col-md-3" style="padding-right:6px;" >
                                                        <div class="product-shoe-info shoe text-center">
                                                            <div>
                                                            <span style="color:black; font-size:13.5px; font-weight:bold;">1A</span>
                                                            <p style="color:green; font-size:13.5px;"><strong>{{ availability.first_ac }}</strong></p>
                                                            <a id="book-{{ train.train_no }}-1a" class="btn active" style="padding:5px; font-size:13.5px" href="{% url 'book-now' train.train_no journey_date '1A' source destination %}">Book Now</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class = "col-md-3" style="padding-right:6px;" >
                                                        <div class="product-shoe-info shoe text-center">
                                                            <div>
                                                            <span style="color:black; font-size:13.5px; font-weight:bold;">2A</span>
                                                            <p style="color:green; font-size:13.5px;"><strong>{{ availability.second_ac }}</strong></p>
                                                            <a id="book-{{ train.train_no }}-2a" class="btn active" style="padding:5px; font-size:13.5px" href="{% url 'book-now' train.train_no journey_date '2A' source destination %}">Book Now</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class = "col-md-3" style="padding-right:6px;" >
                                                        <div class="product-shoe-info shoe text-center">
                                                            <div>
                                                            <span style="color:black; font-size:13.5px; font-weight:bold;">3A</span>
                                                            <p style="color:green; font-size:13.5px;"><strong>{{ availability.third_ac }}</strong></p>
                                                            <a id="book-{{ train.train_no }}-3a" class="btn active" style="padding:5px; font-size:13.5px" href="{% url 'book-now' train.train_no journey_date '3A' source destination %}">Book Now</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class = "col-md-3" style="padding-right:6px;" >
                                                        <div class="product-shoe-info shoe text-center">
                                                            <div>
                                                            <span style="color:black; font-size:13.5px; font-weight:bold;">SL</span>
                                                            <p style="color:green; font-size:13.5px;"><strong>{{ availability.sleeper }}</strong></p>
                                                            <a id="book-{{ train.train_no }}-sl" class="btn active" style="padding:5px; font-size:13.5px" href="{% url 'book-now' train.train_no journey_date 'SL' source destination %}">Book Now</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                        {% if is_t2 %}
                        <div class="row mt-4 ml-1" style="text-align: center; font-size: 1.1rem">
                            <b>ALTERNATE TRAINS:</b>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Train Number</th>
                                            <th>Train Name</th>
                                            <th >Departure Time</th>
                                            <th>Arrival Time</th>
                                            <th>Travel Time</th>
                                            <th>Days of Run</th>
                                            <th>Classes</th>
                                            <th>Availability & Fare</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TRAIN NO</td>
                                            <td>TRAIN NAME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>Mo, Tu, We, Th</td>
                                            <td>
                                                <select class="form-control" name="flexible" required="">
                                                    <option>SL</option>
                                                    <option>2A</option>
                                                    <option>3A</option>
                                                </select>
                                            </td>
                                            <td><a id="btn-train-search" class="btn btn-sm active">Get</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TRAIN NO</td>
                                            <td>TRAIN NAME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>Mo, Tu, We, Th</td>
                                            <td>
                                                <select class="form-control" name="flexible" required="">
                                                    <option>SL</option>
                                                    <option>2A</option>
                                                    <option>3A</option>
                                                </select>
                                            </td>
                                            <td><a id="btn-train-search" class="btn btn-sm active">Get</a></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>TRAIN NO</td>
                                            <td>TRAIN NAME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>Mo, Tu, We, Th</td>
                                            <td>
                                                <select class="form-control" name="flexible" required="">
                                                    <option>SL</option>
                                                    <option>2A</option>
                                                    <option>3A</option>
                                                </select>
                                            </td>
                                            <td><a id="btn-train-search" class="btn btn-sm active">Get</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--//train between stations form ends here-->
{% endblock %}

{% block script %}

{% if messages %}
{% for message in messages %}
    window.setTimeout(function () {
        $(".alert-{{message.tags}}").fadeTo(1000, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
{% endfor %}
{% endif %}

{% endblock %}