{% extends '../base.html' %}

{% block title %} Home {% endblock %}
{% block navbar-home %}class="active"{% endblock %}

{% block banner %} main-banner {% endblock %}

{% block banner-info %}
<!--/banner-->
<div class="banner-info">
    <p>One place for all railway enquiry</p>
    <h3 class="mb-4">Welcome to SwiftRail</h3>
    <div class="ban-buttons">
        <a href="{% url 'book-ticket' %}" class="btn">Book Now</a>
        <a href="{% url 'train-enquiry' %}" class="btn active bluebtn">Train Enquiry</a>
    </div>
</div>
<!--// banner-inner -->
{% endblock %}

{% block css %}
#clock {
    background: #eee;
}
{% endblock %}

{% block content %}

    <!--/ab -->
    <ol class="breadcrumb grey">
        <li class="breadcrumb-item active">Home</li>
    </ol>
    <section class="hand-crafted py-5">
        <div class="container">
            <div class="inner-sec py-md-5 px-lg-5">
                <h3 class="tittle text-center"><span class="sub-tittle">About</span> Welcome To Our Website</h3>
                <p class="mb-4 text-center px-lg-4"> SwiftRail is a single place for all your train-related enquiries. Book your railway tickets with SwiftRail and enjoy a hassle-free journey. We have combined all the features of Indian Railways at a single location - PNR Status, Ticket Booking, Trains between stations, Train Schedule and many more.</p>
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--/ab -->
    <section class="about py-md-5 py-5">
        <div class="container py-md-3">
            <h3 class="tittle text-center">What We Offer</h3>
            <div class="feature-grids row">
                <div class="col-md-4 gd-bottom mt-lg-4" onclick="window.location={% url 'pnr-status' %}">
                    <div class="bottom-gd p-lg-5 p-4">
                        <span class="fa fa-info" aria-hidden="true"></span>
                        <h3 class="my-3">PNR STATUS</h3>
                        <p>Check your pnr status for your booked ticket.</p><br>
                    </div>
                </div>
                <div class="col-md-4 gd-bottom mt-lg-4" onclick="window.location={% url 'book-ticket' %}">
                    <div class="bottom-gd p-lg-5 p-4">
                        <span class="fa fa-train" aria-hidden="true"></span>
                        <h3 class="my-3">TICKET BOOKING</h3>
                        <p>Get your railway tickets booked with us.</p><br>
                    </div>
                </div>
                <div class="col-md-4 gd-bottom mt-lg-4" onclick="window.location={% url 'train-enquiry' %}">
                    <div class="bottom-gd p-lg-5 p-4">
                        <span class="fa fa-bullhorn" aria-hidden="true"></span>
                        <h3 class="my-3">TRAIN ENQUIRY</h3>
                        <p>Get informations about train schedule and train between stations.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //ab -->
{% endblock %}
