{% extends '../base.html' %}
{% load train %}

{% block title %} Live Status {% endblock %}
{% block navbar-live-status %}class="active"{% endblock %}

{% block banner %} main-banner inner {% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">Live Status</li>
</ol>

<div class="section text-center py-5">
    <div class="container">
        <div style="margin-top:30px;" class="mainbox ">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form id="live-status-form" class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="message">
                            <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$('.alert').remove()">&times;</button>
                                {{message}}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Train Number / Name:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" name="train-no" placeholder="Enter Train Number / Name" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Train Start Date:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="date" class="form-control" name="date" placeholder="Enter Train Start Date" required="">
                                    </div>
                                </div>
                                <!-- Button -->
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-md-4 col-sm-4 col-xs-4 controls">
                                        <button type="submit" id="btn-live-status" class="btn active">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if is_submit %}
            <div class="message">
                <div class="alert alert-danger alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="$('.alert').remove()">&times;</button>
                    Train is running late by {{ current_station.DelayInDeparture|get_live_delay }} when it crossed {{ current_station.StationName }} ({{ current_station.StationCode }}) at {{ current_station.ActualDeparture }}.
                </div>
            </div>
            <div class="panel panel-info">
                <div style="padding-top:20px" class="panel-body">
                    <div class="container">
                        <div class="container pb-3" style="font-size: 22px">
                            <b>CURRENT STATUS</b>
                        </div>
                        <div class="row pb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Station Name</td>
                                            <td>{{ current_station.StationName }}</td>
                                        </tr>
                                        <tr>
                                            <td>Station Code</td>
                                            <td>{{ current_station.StationCode }}</td>
                                        </tr>
                                        <tr>
                                            <td>Day</td>
                                            <td>{{ current_station.Day }}</td>
                                        </tr>
                                        <tr>
                                            <td>Scheduled Arrival</td>
                                            <td>{{ current_station.ScheduleArrival }}</td>
                                        </tr>
                                        <tr>
                                            <td>Actual Arrival</td>
                                            <td>{{ current_station.ActualArrival }}</td>
                                        </tr>
                                        <tr>
                                            <td>Delay In Arrival</td>
                                            <td>{{ current_station.DelayInArrival }}</td>
                                        </tr>
                                        <tr>
                                            <td>Scheduled Departure</td>
                                            <td>{{ current_station.ScheduleDeparture }}</td>
                                        </tr>
                                        <tr>
                                            <td>Actual Departure</td>
                                            <td>{{ current_station.ActualDeparture }}</td>
                                        </tr>
                                        <tr>
                                            <td>Delay In Departure</td>
                                            <td>{{ current_station.DelayInDeparture }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th>Train Number</th>
                                            <th>Train Name</th>
                                            <th>Source</th>
                                            <th>Destination</th>
                                            <th>Runs On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ train.train_no }}</td>
                                            <td>{{ train.train_name }}</td>
                                            <td>{{ train.source_id }}</td>
                                            <td>{{ train.destination_id }}</td>
                                            <td>{{ train.run_days }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th>S. No.</th>
                                            <th>Station Name</th>
                                            <th>Station Code</th>
                                            <th>Scheduled Arrival</th>
                                            <th>Actual Arrival</th>
                                            <th>Delay In Arrival</th>
                                            <th>Scheduled Departure</th>
                                            <th>Actual Departure</th>
                                            <th>Delay In Departure</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for route in train_route %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ route.StationName }}</td>
                                            <td>{{ route.StationCode }}</td>
                                            <td>{{ route.ScheduleArrival }}</td>
                                            <td>{{ route.ActualArrival }}</td>
                                            <td>{{ route.DelayInArrival }}</td>
                                            <td>{{ route.ScheduleDeparture }}</td>
                                            <td>{{ route.ActualDeparture }}</td>
                                            <td>{{ route.DelayInDeparture }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!--//train schedule form ends here-->
{% endblock %}

{% block script %}

{% if messages %}
{% for message in messages %}
    window.setTimeout(function () {
        $(".alert-{{message.tags}}").fadeTo(1000, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 2000);
{% endfor %}
{% endif %}

{% endblock %}