{% extends '../base.html' %}
{% block banner %} main-banner inner {% endblock %}

{% block content %}

    <!--/ab -->
    <ol class="breadcrumb grey">
	    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
	    <li class="breadcrumb-item active">Terms of Service</li>
	</ol>
    <section class="hand-crafted py-5">
        <div class="container">
            <div class="inner-sec py-md-5 px-lg-5">
                
                <p class="mb-4 text-center px-lg-4"> Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. </p>
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--/ab -->
    <section class="about py-md-5 py-5">
        <div class="container py-md-3" style="text-align: justify;">
            <h3 class="tittle text-center">Terms Of Service</h3>               
                        <p> SwiftRail provides only the facility for transacting with Railway's PRS System through the Internet. Indian Railway's rules for reservation and booking apply to all such transactions along with special conditions imposed for Internet-based booking. The special conditions and the terms of service applicable to Internet booking are detailed in this document.
The following terms and conditions will apply if you wish to use the online ticket booking service offered through the website. Please go through the conditions carefully and if you accept them, you may register and transact on the site. No user can register more than once on the site. Please note that once you register yourself on the SwiftRail site, you are deemed to have agreed to the terms and conditions set forth below. If You do not agree with all these terms and conditions, you must not transact on this Website. Once you have clicked the 'I Agree' buttons at the bottom of these Terms and Conditions you have entered into a formal agreement with us for the purpose of transactions on this website.
If a user violates the terms and conditions of use by registering more than one user id and or booking tickets on such multiple user ids, SwiftRail reserves the right to deactivate all such user registration and cancel any or all ticket booked using these registrations without any notice. Garbage/Junk values in profile may lead to Deactivation.
Our performance of this agreement is subject to existing laws and legal processes of Govt. Of India, and nothing contained in this agreement is in derogation of SwiftRail’s right to comply with law enforcement requests or requirements relating to your use of this Web Site or information provided to or gathered by SwiftRail with respect to such use. You agree that SwiftRail may provide details of your use of the Web Site to regulators or police or to any other third party, or in order to resolve disputes or complaints which relate to the Web Site, at SwiftRail’s complete discretion.
If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth herein, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect.
This agreement constitutes the entire agreement between the customer and SwiftRail with respect to this Web Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between the customer and SwiftRail with respect to this Web Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form
This agreement is made between: SwiftRail and The User, the individual, whose details are set out in the User Registration page.

<br><br>
<b>Links To Other Web Sites :</b>

Our Service may contain links to third-party web sites or services that are not owned or controlled by SwiftRail.

SwiftRail has no control over and assumes no responsibility for, the content, privacy policies, or practices of any third-party web sites or services. You further acknowledge and agree that SwiftRail shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, or services available on or through any such web sites or services.
<br><br>
<b>Changes :</b>

We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 (change this) days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
<br><br>
<b>Contact Us : </b>

If you have any questions about these Terms, please contact us.
</p><br>
                    </div>
                </div>
                <div class="col-md-4 gd-bottom mt-lg-4" onclick="window.location={% url 'index' %}">
                    
                </div>

            </div>
        </div>
    </section>
    <!-- //ab -->
{% endblock %}