{% extends '../base.html' %}

{% block title %} My Transactions {% endblock %}
{% block navbar-transactions %}class="active"{% endblock %}
{% block navbar-last-transaction %}class="inactive"{% endblock %}
{% block navbar-booked-history %}class="inactive"{% endblock %}
{% block navbar-cancellation-history %}class="inactive"{% endblock %}

{% block banner %} main-banner inner {% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">My Transactions</li>
</ol>

<section class="about py-md-5 py-5">
    <div class="container-fluid">
        <div class="feature-grids row px-3 justify-content-center">
            <div class="col-lg-3 gd-bottom" id="last-transaction">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"><span class="fa fa-inr" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">LAST TRANSACTION HISTORY</h3>
                        <p>Find your Last Transaction History</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom" id="booked-history">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"> <span class="fa fa-ticket" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">BOOKED TICKET HISTORY</h3>
                        <p>Find your Booked Ticket History</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom" id="cancelled-history">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"> <span class="fa fa-times" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">TICKET CANCELLATION HISTORY</h3>
                        <p>Find your Ticket Cancellation History</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    $("#last-transaction").on('click', function() {
        window.location = "{% url 'last-transaction' %}";
    })
    $("#booked-history").on('click', function() {
        window.location = "{% url 'booked-history' %}";
    })
    $("#cancelled-history").on('click', function() {
        window.location = "{% url 'cancelled-history' %}";
    })
{% endblock %}